Suppose you are given a task to calculate weight for 100 people ,or for instance you are to convert the data into cm. Functions
make it easier ,instead of rewrite the code over and over again ,functions can save us from that

In [1]:
# Simple function
f(x) = x -3

f (generic function with 1 method)

In [4]:
# 
a = [1 3 3 4]

1Ã—4 Matrix{Int64}:
 1  3  3  4

In [6]:
f(a[:1])

-2

In [7]:
f(20)

17

In [8]:
f(188)

185

In [11]:
f(x,y) = x*2 + 3y
# two methods in one function.if you are coming from a mathematical background ,its is Basic Calculus

f (generic function with 2 methods)

In [12]:
f(8,10)

46

In [13]:
# We can however create functions using the function keyword 
 function multiply(val)
    return val*2
end

multiply (generic function with 1 method)

In [14]:
multiply(2)

4

In [31]:
function odd(i)
    for i in 1:10
        if i% 2 ==  0
            continue
        else 
        println(i)
        end
    end
end

odd (generic function with 1 method)

In [30]:
odd(2)

13579

In [42]:
function convert_metres(val,name = "Random")
    if name == "Random"
        println("Value for name is not given")
    else 
        println("Hi...",name,"Your conversion is")
    end
        return val*100
end

convert_metres (generic function with 2 methods)

In [43]:
convert_metres(2)

Value for name is not given

200

In [44]:
convert_metres(2,"Andrew")

Hi...AndrewYour conversion is

200

# Formatting Strings

In [1]:
# Like C and C++ Julia has some inbuilt macros ,the Printf function
using Printf

In [5]:
name ="Edgar Muyale";
value = 100.50;
number = 100;

In [6]:
@printf("Hello %s",name)

Hello Edgar Muyale

In [11]:
@printf("The value as a float is %f",value)

The value as a float is 100.500000

In [12]:
@printf("The scientific value is %e",value)

The scientific value is 1.005000e+02

In [10]:
@printf("The number as an integer is %d",number)

The number as an integer is 100

In [13]:
@printf("The scientific value is %.3e",value)

The scientific value is 1.005e+02

Using printf we can decide what we want as an output with % d indicating integers,%s indicating a string,%c character,%e as  a 
scientific number

# The End :Thank You