# DATA STRUCTURES IN JULIA

 There are various datatypes and datastructures in julia including Arrays,Ranges,Tuples,Dictionaries and Sets

# ARRAYS

In [1]:
# There are various arrays including  float,integer,strings and the type any

In [2]:
a1 = [2,3,4,5]

4-element Vector{Int64}:
 2
 3
 4
 5

In [3]:
a2 = [2,4,3.9,6]

4-element Vector{Float64}:
 2.0
 4.0
 3.9
 6.0

In [4]:
str_array = ["I","Love","Artificial","Intelligence"]

4-element Vector{String}:
 "I"
 "Love"
 "Artificial"
 "Intelligence"

In [5]:
multi_array = ["I","Love","Artificial","Intelligence",2,3.0]

6-element Vector{Any}:
  "I"
  "Love"
  "Artificial"
  "Intelligence"
 2
 3.0

In [6]:
# We can coerce an array to be of a certain type for instance of type : float for int
# Lets define an array 
int_arr = [2,3,4,5,6]

5-element Vector{Int64}:
 2
 3
 4
 5
 6

In [7]:
# 2d and 3 d arrays
multi_array = [1 2 3 4;5 6 7 8]
# This results in a 2x2 array

2×4 Matrix{Int64}:
 1  2  3  4
 5  6  7  8

In [8]:
multi_array = [1 2 3 4;5 6 7 8;4 3 5 6]
#3 x 4 matrix

3×4 Matrix{Int64}:
 1  2  3  4
 5  6  7  8
 4  3  5  6

In [9]:
# Indexing of arrays
multi_array[3:end]
# I have the end keyword which is really convenient for julia programming

10-element Vector{Int64}:
 4
 2
 6
 3
 3
 7
 5
 4
 8
 6

In [10]:
multi_array[end:-1]

Int64[]

# TUPLES

Tuples work the same as pythonic ones in that they are immutable ,interestingly julia has named tuple features

In [11]:
t1 = (2,3)

(2, 3)

In [12]:
t2 = ((2,3),(4,5))

((2, 3), (4, 5))

In [13]:
# To access any element we can do so by indexing,take an example of if we need number 3 from t1
t2[1]

(2, 3)

In [14]:
t2[1][2]

3

In [15]:
# Naming tuples
marks = (Science=(90,100),Biology=(70,100),Chemistry=(90,100))

(Science = (90, 100), Biology = (70, 100), Chemistry = (90, 100))

In [16]:
# Interestingly we can obtain any mark like calling function or using the .,example
marks.Science

(90, 100)

In [17]:
marks.Chemistry

(90, 100)

In [18]:
# Suppose we have another tuple of different subjects we can merge the two ,using the merge keyword
marks_2 = (History=(80,100),Philosophy=(70,100),Music =(70,100))

(History = (80, 100), Philosophy = (70, 100), Music = (70, 100))

In [19]:
marks_2.History

(80, 100)

In [20]:
all_subjects = merge(marks,marks_2)

(Science = (90, 100), Biology = (70, 100), Chemistry = (90, 100), History = (80, 100), Philosophy = (70, 100), Music = (70, 100))

In [21]:
all_subjects.Science

(90, 100)

In [22]:
all_subjects.Philosophy

(70, 100)

#  RANGES

In [23]:
# Suppose you need to create a range for experimental purpose ,how do you approach that
x = rand(100)
x

100-element Vector{Float64}:
 0.6405293256108352
 0.18988461034536674
 0.4852116256448541
 0.08964467704031209
 0.6800948632209172
 0.49240792692341806
 0.6042796365933949
 0.9950816121243262
 0.6664260299956195
 0.04842937748335352
 0.657010781752317
 0.9551891721340231
 0.016730875702491987
 ⋮
 0.8879177444806603
 0.7697235075023608
 0.15587429180458723
 0.5807563576561278
 0.40550762897968695
 0.36972231232417463
 0.6627751690723939
 0.9637802826210713
 0.6451475970328127
 0.8716610549422515
 0.5952342129867264
 0.7532430062553087

In [24]:
# We use the collect keyword to get a range 
x = collect(1:3:100)

34-element Vector{Int64}:
   1
   4
   7
  10
  13
  16
  19
  22
  25
  28
  31
  34
  37
   ⋮
  67
  70
  73
  76
  79
  82
  85
  88
  91
  94
  97
 100

In [25]:
 y= collect(0:10:100)

11-element Vector{Int64}:
   0
  10
  20
  30
  40
  50
  60
  70
  80
  90
 100

In [28]:
# If you intend to change such that you obtain 100 first ,the following is the code
collect(100:-10:0)

11-element Vector{Int64}:
 100
  90
  80
  70
  60
  50
  40
  30
  20
  10
   0

# DICTIONARIES

In [30]:
# Dictionaries are made in the key value pair format
julia_dict = Dict(:Car1=>10000,:Car2=>20000,:Car3=>30000)

Dict{Symbol, Int64} with 3 entries:
  :Car3 => 30000
  :Car1 => 10000
  :Car2 => 20000

In [31]:
# Operations are the same as that of the Python programming language
julia_dict.keys

16-element Vector{Symbol}:
    :Car3
 #undef
 #undef
 #undef
    :Car1
 #undef
 #undef
 #undef
 #undef
 #undef
 #undef
    :Car2
 #undef
 #undef
 #undef
 #undef

In [38]:
# haskey function to check whether a given key exists in the dictionary,true if exists else it returns false
haskey(julia_dict,:Car1)

true

In [39]:
haskey(julia_dict,:Car4)

false

In [40]:
julia_dict_2 = Dict(:Car4=>20990,:Car5=>30000)

Dict{Symbol, Int64} with 2 entries:
  :Car4 => 20990
  :Car5 => 30000

In [41]:
combined_dict = merge(julia_dict,julia_dict_2)

Dict{Symbol, Int64} with 5 entries:
  :Car3 => 30000
  :Car4 => 20990
  :Car5 => 30000
  :Car1 => 10000
  :Car2 => 20000

In [43]:
haskey(combined_dict,:Car7)

false

# SETS IN JULIA

In [45]:
# A set is a variable holder just as an array,in julia sets have been created on the principles of set theory,use the Set keyword

In [50]:
favorite_movies = Set([:Wakanda,:Avengers,:Phantom,:DespicableMe,:Peter])

Set{Symbol} with 5 elements:
  :Phantom
  :Wakanda
  :Peter
  :Avengers
  :DespicableMe

In [51]:
favorite_movies2 = Set([:Grammys,:Peter,:Spiderman,:Infinity,:Interstellar,:DrStrange])

Set{Symbol} with 6 elements:
  :Grammys
  :Spiderman
  :Peter
  :Infinity
  :Interstellar
  :DrStrange

In [53]:
# We can perform unions on sets and differences,and intersections 
all_movies = union(favorite_movies,favorite_movies2)

Set{Symbol} with 10 elements:
  :Phantom
  :Grammys
  :Spiderman
  :Infinity
  :Avengers
  :DespicableMe
  :DrStrange
  :Wakanda
  :Peter
  :Interstellar

In [54]:
intersect(favorite_movies,favorite_movies2)

Set{Symbol} with 1 element:
  :Peter

In [55]:
setdiff(favorite_movies,favorite_movies2)

Set{Symbol} with 4 elements:
  :Phantom
  :Wakanda
  :Avengers
  :DespicableMe

In [56]:
# Add elements into a set
favorite_movies

Set{Symbol} with 5 elements:
  :Phantom
  :Wakanda
  :Peter
  :Avengers
  :DespicableMe

In [57]:
push!(favorite_movies,:TaiChi)

Set{Symbol} with 6 elements:
  :TaiChi
  :Phantom
  :Wakanda
  :Peter
  :Avengers
  :DespicableMe